@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #86c97d;
  color: #fff;
  display: flex;
  justify-content: flex;
  align-items: center;
  padding: 12px 40px;
}

.img {
  display: flex;
  margin-left: 72px;
  margin-top: 9px;
}

.search-box input {
  border: 1px;
  box-shadow: 1px 1px 5px black;
  font-family: inherit;
  height: 40px;
  width: 430px;
  font-size: 15px;
  padding: 15px;
  outline: none;
}

.search-box {
  margin-top: 28px;
  margin-left: 37px;
  position: relative;
}

.header1 {
  margin-top: auto;
  height: 100px;
  display: flex;
  gap: -203px;
}

.search-box ion-icon {
  position: absolute;
  left: 390px;
  top: 20px;
  transform: translateY(-50%);
  color: black;
  font-size: 20px;
}

.navbar_Links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-left: 30px;
}

.navbar_Links a {
  color: black;
  font-weight: 500;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  margin-left: 40px;
}

.login a {
  margin-left: 80px;
  color: #3a5a40;
  border-radius: 50px;
  height: 40px;
  width: 145px;
  background-color: #7ab672;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 550;
  align-items: center;
  display: flex;
  gap: 5px;
  padding-left: 35px;
  border: #3a5a40 solid;
  border-width: 2px;
  text-decoration: none;
}

.login ion-icon {
  color: #3a5a40;
}

.carrinho a {
  margin-left: 100px;
  height: 50px;
  width: 35px;
}

.carrinho ion-icon {
  color: #3a5a40;
  height: 45px;
  width: 30px;
  margin-left: -50px;
}

.notificações a {
  color: #3a5a40;
  height: 50px;
  width: 35px;
}

.notificações ion-icon {
  height: 45px;
  width: 30px;
  font-weight: 600px;
  margin-left: 60px;
  margin-right: 72px;
}

.categorias {
  background-color: white;
  height: 50px;
  width: 100%;
  display: flex;
  box-shadow: 0px 2px 6px;
  justify-content: center;
}

.higiene a {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
}

.higiene img {
  height: 40px;
  width: 40px;
}

.casa a {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
  margin-left: 300px;
}

.casa img {
  height: 40px;
  width: 40px;
}

.cozinha img {
  height: 40px;
  width: 40px;
}

.cozinha a {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
  margin-left: 250px;
}

.moda img {
  width: 40px;
  height: 40px;
}

.moda a {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
  margin-left: 300px;
}

.escritorio img {
  width: 40px;
  height: 40px;
}

.escritorio a {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
  margin-left: 300px;
}

.pets img {
  width: 40px;
  height: 40px;
}

.pets a {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
  margin-left: 200px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  color: #333;
}

.categorias a {
  color: #333;
  text-decoration: none;
  font-weight: 550;
  position: relative;
  transition: color 0.4s ease;
}

.categorias a:hover{
  color: #86c97d;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.listas a:hover{
  text-decoration: underline;
  text-underline-offset: 4px;
}

.navbar_Links a:hover{
  text-decoration: underline;
  text-underline-offset: 4px;
}

.rdp {
  background-color: #588157;
  font-family: "Montserrat";
  height: 450px;
  width: 100%;
  padding: 1px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}

.rdp img {
  height: 200px;
  width: 300;
  margin-top: 100px;
  margin-bottom: 70px;
  margin-left: 50px;
}

.rdp a {
  text-decoration: none;
}

.social a {
  color: white;
}

.social {
  margin-bottom: 30px;
  font-size: 20px;
  margin-left: 100px;
  color: white;
  display: flex;
}

.social ion-icon {
  color: black;
  height: 30px;
  width: 30px;
  gap: 5px;
  margin-left: 5px;
  margin-top: -3px;
  margin-bottom: 30px;
}

.institucional {
  color: white;
  font-family: "Montserrat";
  margin-left: 150px;
  margin-top: 80px;
  text-align: justify;
}

.listas a {
  color: white;
  font-weight: -300;
  text-decoration: none;
}

.listas {
  margin-top: 10px;
  gap: 15px;
  list-style: none;
}

.categoriasbot {
  color: white;
  font-family: "Montserrat";
  margin-left: 100px;
  margin-top: 80px;
  text-align: justify;
}

.atendimento {
  color: white;
  font-family: "Montserrat";
  margin-left: 100px;
  margin-top: 80px;
  text-align: justify;
}

.formaspag {
  color: white;
  font-family: "Montserrat";
  margin-left: 80px;
  margin-top: 80px;
  text-align: center;
}

.formaspag img {
  height: 200px;
  width: 320px;
  margin-top: 0px;
}

@media (max-width: 1440px) {
  .header {
    width: 100% !important;
  }
  
  .img {
    margin-left: 0;
  }

  .search-box {
    margin-left: 0px;
  }

  .search-box ion-icon {
    opacity: 0;
  }

  .search-box input {
    width: 300px;
  }

  .navbar_Links {
    gap: 0px;
    margin-left: 0px;
    white-space: nowrap;
  }

  .navbar_Links a {
    margin-left: 30px;
  }

  .login a {
    margin-left: 50px;
  }

    .categorias a {
      font-size: 1rem !important ;
      margin-top: 5px;
      margin-left: 0px;
      font-weight: 500;
    }

    .categorias img {
      height: 25px;
      width: 25px;
    }

    .categorias {
      height: 40px;
      margin-left: 0px;
      justify-content: flex-start;
      width: 100% !important;
    }

    .higiene a {
      margin-left: 110px;
      justify-content: start;
      gap: 2;
      width: fit-content;
    }

    .higiene {
      width: 150px;
      padding: 0px;
      width: fit-content;
    }

    .casa a {
      margin-left: 0px;
      justify-content: start;
      gap: 2;
      width: fit-content;
      margin-left: 70px;
    }

    .casa {
      width: 150px;
      padding: 0px;
      width: fit-content;
    }

    .cozinha a {
      margin-left: 0px;
      justify-content: start;
      gap: 2;
      width: fit-content;
      margin-left: 70px;
    }

    .cozinha {
      width: 150px;
      padding: 0px;
      width: fit-content;
    }

    .moda a {
      margin-left: 0px;
      justify-content: start;
      gap: 2;
      width: fit-content;
      margin-left: 70px;
    }

    .moda {
      width: 150px;
      padding: 0px;
      width: fit-content;
    }

    .escritorio a {
      margin-left: 0px;
      justify-content: start;
      gap: 2;
      width: fit-content;
      margin-left: 70px;
    }

    .escritorio {
      width: 150px;
      padding: 0px;
      width: fit-content;
    }

    .pets a {
      margin-left: 0px;
      justify-content: start;
      gap: 2;
      width: fit-content;
      margin-left: 70px;
    }

    .pets {
      width: 150px;
      padding: 0px;
      width: fit-content;
    }

    .esqrd img {
      width: 230px;
      height: 100px;
      margin-left: 0px;
    }

    .esqrd {
      margin-left: 100px;
    }

    .rdp {
      height: 350px;
      justify-content: start  ;
      width: 100% !important;
    }

    .social {
      white-space: nowrap;
      margin-left: 40px !important;
    }

    .institucional {
      margin-left: 60px !important;
    }

    .atendimento {
      margin-left: 60px !important;
    }

    .listas a {
      white-space: nowrap;
    }

    .formaspag {
      margin-left: 60px !important;
    }

    .formaspag img {
      margin-left: 0px !important;
      width: 200px !important;
      height: 140px !important;
    }
}

@media (max-width: 1024px) {
  .search-box {
    margin-top: 1rem;
    margin-left: 0px;
    margin-right: 0px;
  }

  .search-box input {
    width: 200px;
    margin-left: 40px;
  }

  .search-box ion-icon {
    opacity: 0;
  }

  .header {
    height: 80px;
    display: flex !important;
  }

  .img img {
    display: flex;
    margin-top: 0px;
    height: 50px;
  }

  .navbar_Links a {
    display: none;
    margin-left: 0px;
    margin-right: 0px;
  }

  .navbar_Links {
    display: none;
    margin-left: 0px;
    margin-right: 0px;
  }

  .login a {
    margin-left: 150px;
    margin-right: 0px;
    width: 145px;
  }

  .carrinho ion-icon {
    margin-left: 20px;
    margin-right: 0px;
    width: 30px;
    height: 30px;
  }

  .notificações ion-icon {
    margin-left: 20px;
    margin-right: 0px;
  }

  .carrinho a { 
    margin-right: 0px;
    width: 30px;
    height: 50x;
    margin-left: 20px;
  }

  .notificações a {
    margin-left: 20px;
    margin-right: 0px;
    width: 30px;
    height: 50x;
  }

  .navbar_toggle {
    display: block !important;
    font-size: 2rem;
    margin-left: 25px;
  }

  .navbar_toggle ion-icon {
    color: #3a5a40;
  }

  .header {
    transform: none !important;
    height: 100px;
    border-radius: 0;
}

  .categorias {
    display: none;
  }


}

@media (max-width: 768px) {
.login a {
  margin-left: 50px;
}

.search-box input {
  width: 140px;
  margin-left: 15px;
}
}

.navbar_toggle {
  font-size: 2rem;
  border: none;
  background: none;
  color: var(--text-dark);
  cursor: pointer;
  display: none;
}

.navbar_toggle ion-icon {
  transition: 0.3s;
}

.navbar_toggle {
  transition: 0.3s;
}

.mobile-wrapper {
  position: relative;
  display: inline-block;  
}

#mobile {
  position: absolute;
  top: 45px;     
  left: 0;    
  margin-left: 10px; 
  width: 240px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  padding: 1.2rem 1rem;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.20s ease;
}

#mobile li {
  width: 100%;
  border-bottom: 1px solid #86c97d;
  padding: 0.6rem 0rem;
}

#mobile li:last-child {
  border-bottom: none;
}

#mobile.active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

#mobile a:hover {
  border-bottom: none !important;
  color: #86c97d;
  text-decoration: underline;
}

#mobile a {
  display: block;
  transition: 0.25 ease;
  text-decoration: none;
}

#mobile select {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  font-family: Montserrat;
  font-weight: 500;
}

#mobile li {
  background-color: transparent;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
}

#mobile option {
  font-family: 'Montserrat', sans-serif !important;
}
.rdp a {
  text-decoration: none;
}

.social a {
  color: white;
}

.social {
  margin-bottom: 30px;
  font-size: 20px;
  margin-left: 100px;
  color: white;
  display: flex;
}

.social ion-icon {
  color: black;
  height: 30px;
  width: 30px;
  gap: 5px;
  margin-left: 5px;
  margin-top: -3px;
  margin-bottom: 30px;
}

.institucional {
  color: white;
  font-family: "Montserrat";
  margin-left: 150px;
  margin-top: 80px;
  text-align: justify;
}

.listas a {
  color: white;
  font-weight: -300;
  text-decoration: none;
}

.listas {
  margin-top: 10px;
  gap: 15px;
  list-style: none;
}

.categoriasbot {
  color: white;
  font-family: "Montserrat";
  margin-left: 100px;
  margin-top: 80px;
  text-align: justify;
}

.atendimento {
  color: white;
  font-family: "Montserrat";
  margin-left: 100px;
  margin-top: 80px;
  text-align: justify;
}

.formaspag {
  color: white;
  font-family: "Montserrat";
  margin-left: 80px;
  margin-top: 80px;
  text-align: center;
}

.formaspag img {
  height: 200px;
  width: 320px;
  margin-top: 0px;
}
 
