@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #86c97d;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
}

.img {
  display: flex;
  margin-left: 80px;
  margin-top: 9px;
}

.search-box input {
  border: 1px;
  box-shadow: 1px 1px 5px black;
  font-family: inherit;
  height: 40px;
  width: 430px;
  font-size: 15px;
  padding: 15px;
}

.search-box {
  margin-top: 28px;
  margin-left: 37px;
  position: relative;
}

.header1 {
  margin-top: auto;
  height: 100px;
  display: flex;
}

.search-box ion-icon {
  position: absolute;
  left: 390px;
  top: 20px;
  transform: translateY(-50%);
  color: black;
  font-size: 20px;
}

.navbar_Links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-left: 30px;
}

.navbar_Links a {
  color: black;
  font-weight: 500;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  margin-left: 40px;
}

.login a {
  margin-left: 80px;
  color: #3a5a40;
  border-radius: 50px;
  height: 40px;
  width: 145px;
  background-color: #7ab672;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 550;
  align-items: center;
  display: flex;
  gap: 5px;
  padding-left: 35px;
  border: #3a5a40 solid;
  border-width: 2px;
  text-decoration: none;
}

.login ion-icon {
  color: black;
}

.carrinho a {
  margin-left: 100px;
  height: 50px;
  width: 35px;
}

.carrinho ion-icon {
  color: #3a5a40;
  height: 45px;
  width: 30px;
  margin-left: -50px;
}

.notificações a {
  color: #3a5a40;
  height: 50px;
  width: 35px;
}

.notificações ion-icon {
  height: 45px;
  width: 30px;
  font-weight: 600px;
  margin-left: 60px;
  margin-right: 80px;
}

.categorias {
  background-color: white;
  height: 50px;
  width: 100%;
  display: flex;
  box-shadow: 0px 1px 3px 1px black;
  justify-content: center;
}

.higiene a {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
}

.higiene img {
  height: 40px;
  width: 40px;
}

.casa a {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
  margin-left: 300px;
}

.casa img {
  height: 40px;
  width: 40px;
}

.cozinha img {
  height: 40px;
  width: 40px;
}

.cozinha a {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
  margin-left: 250px;
}

.moda img {
  width: 40px;
  height: 40px;
}

.moda a {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
  margin-left: 300px;
}

.escritorio img {
  width: 40px;
  height: 40px;
}

.escritorio a {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
  margin-left: 300px;
}

.pets img {
  width: 40px;
  height: 40px;
}

.pets a {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
  margin-left: 200px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  color: #333;
}

.categorias a {
  color: #333;
  text-decoration: none;
  font-weight: 550;
  position: relative;
  transition: color 0.4s ease;
}

.categorias a:hover{
  color: #86c97d;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.rdp {
  background-color: #588157;
  font-family: "Montserrat";
  height: auto 450px;
  width: auto 100%;
  padding: 1px;
  margin-bottom: 0px;
  margin-top: 100px;
  display: flex;
}

.rdp img {
  height: 200px;
  width: 300;
  margin-top: 100px;
  margin-bottom: 70px;
  margin-left: 50px;
}

.rdp a {
  text-decoration: none;
}

.social a {
  color: white;
}

.social {
  margin-bottom: 30px;
  font-size: 20px;
  margin-left: 100px;
  color: white;
  display: flex;
}

.social ion-icon {
  color: black;
  height: 30px;
  width: 30px;
  gap: 5px;
  margin-left: 5px;
  margin-top: -3px;
}

.institucional {
  color: white;
  font-family: "Montserrat";
  margin-left: 150px;
  margin-top: 80px;
  text-align: justify;
}

.listas a {
  color: white;
  font-weight: -300;
  text-decoration: none;
}

.listas {
  margin-top: 10px;
  gap: 15px;
  list-style: none;
}

.categoriasbot {
  color: white;
  font-family: "Montserrat";
  margin-left: 100px;
  margin-top: 80px;
  text-align: justify;
}

.atendimento {
  color: white;
  font-family: "Montserrat";
  margin-left: 100px;
  margin-top: 80px;
  text-align: justify;
}

.formaspag {
  color: white;
  font-family: "Montserrat";
  margin-left: 80px;
  margin-top: 80px;
  text-align: center;
}

.formaspag img {
  height: 200px;
  width: 320px;
  margin-top: 0px;
}

.card {
  height: 500vh;
  width: 80vw;
  margin-top: 20px;
  margin-left: 192px;
  box-shadow: 0px 0px 80px 0px rgb(107, 107, 107);
  background-color: white;
  display: flex;
  flex-direction: column;
}

.card img {
  height: 700px;
  width: 550px;
  margin-top: 50px;
  margin-left: 150px;
}

.container-produto {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.caracteristicas {
    color: black;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 30px;
    margin-top: 150px;
    margin-left: 90px;
}

.preço {
    margin-top: 10px;
}

.formaspagamento a {
    color: rgb(81, 211, 255);
    font-size: 20px;
    margin-top: 5px;
}

.formaspagamento a {
    text-decoration: none;
    color: rgb(0, 191, 255) ;
}

.disp  {
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
}

.tipos {
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
    display: flex;
}

.tipos select {
    width: 80px;
    font-family: "Montserrat";
    border: 2px solid #54a04a;
    border-radius: 5px;
    margin-left: 5px;
    padding:3px;
    padding-left: 5px;
    background-color: white;
}

.tipos option {
    color: #000 !important;
    font-family: "Montserrat", sans-serif !important;
}

.botoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.botoes button {
  width: 350px;
  height: 80px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  font-family: "Montserrat";
}

.comprar {
  background-color: #81c784;
  color: black;
  font-weight: 500;
  font-family: "Montserrat"
}

.carrinhobtn {
  background-color: #a5d6a7;
  color: black;
  font-weight: 500;
  font-family: "Montserrat"
}

.carrinhobtn ion-icon {
  height: 50px;
  width: 35px;
  margin-right: 8px;
  vertical-align: middle;
  margin-bottom: 6px;
}

.linha-container {
  width: 100%;
  display: block; 
}

.linha1 {
  width: 1200px;
  border: none;
  border-top: 2px solid #4e4e4e;
  margin-left: 150px;
}

.desc {
  margin-top: 80px;
  margin-left: 200px;
  font-size: 20px;
  margin-bottom: 80px;
}

.card {
  z-index: 1;
}

.categorias {
  position: relative;
  z-index: 2;
  background-color: white;
}



