@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #86c97d;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px; 
}

.img {
  display: flex;
  margin-left: 72px;
  margin-top: 9px;
}

.bg img{
  width: 100%;
}

.search-box input {
  border: 1px;
  box-shadow: 1px 1px 5px black;
  font-family: inherit;
  height: 40px;
  width: 430px;
  font-size: 15px;
  padding: 15px;
  outline: none;
}

.search-box {
  margin-top: 28px;
  margin-left: 37px;
  position: relative;
}

.header1 {
  margin-top: auto;
  height: 100px;
  display: flex;
}

.search-box ion-icon {
  position: absolute;
  left: 390px;
  top: 20px;
  transform: translateY(-50%);
  color: black;
  font-size: 20px;
}

.navbar_Links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-left: 30px;
}

.navbar_Links a {
  color: black;
  font-weight: 500;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  margin-left: 40px;
  white-space: nowrap;
}

.login a {
  margin-left: 80px;
  color: #3a5a40;
  border-radius: 50px;
  height: 40px;
  width: 145px;
  background-color: #7ab672;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 550;
  align-items: center;
  display: flex;
  gap: 5px;
  padding-left: 35px;
  border: #3a5a40 solid;
  border-width: 2px;
  text-decoration: none;
}

.login ion-icon {
  color: black;
}

.carrinho a {
  margin-left: 100px;
  height: 50px;
  width: 35px;
}

.carrinho ion-icon {
  color: #3a5a40;
  height: 45px;
  width: 30px;
  margin-left: -50px;
}

.notificações a {
  color: #3a5a40;
  height: 50px;
  width: 35px;
}

.notificações ion-icon {
  height: 45px;
  width: 30px;
  font-weight: 600px;
  margin-left: 60px;
  margin-right: 72px;
}

.categorias {
  background-color: white;
  height: 50px;
  width: 100%;
  display: flex;
  box-shadow: 0px 2px 6px;
  justify-content: center;
}

.higiene a {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
}

.higiene img {
  height: 40px;
  width: 40px;
}

.casa a {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
  margin-left: 300px;
}

.casa img {
  height: 40px;
  width: 40px;
}

.cozinha img {
  height: 40px;
  width: 40px;
}

.cozinha a {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
  margin-left: 250px;
}

.moda img {
  width: 40px;
  height: 40px;
}

.moda a {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
  margin-left: 300px;
}

.escritorio img {
  width: 40px;
  height: 40px;
}

.escritorio a {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
  margin-left: 300px;
}

.pets img {
  width: 40px;
  height: 40px;
}

.pets a {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
  margin-left: 200px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  color: #333;
}

.categorias a {
  color: #333;
  text-decoration: none;
  font-weight: 550;
  position: relative;
  transition: color 0.4s ease;
}

.categorias a:hover{
  color: #86c97d;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.bar {
  background-color: #acff4d;
  margin-top: -5px;
  height: 75px;
  display: flex;
  width: 100%;
}

.icon1 img {
  height: 50px;
  width: 50px;
  margin-top: 11px;
  margin-left: 340px;
}

.text1 {
  margin-left: 5px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 20px;
  padding: 12px;
  font-weight: 500;
}

.fol1 img {
  height: 50px;
  width: 50px;
  margin-top: 11px;
  margin-left: 125px;
}

.icon2 img {
  height: 50px;
  width: 50px;
  margin-top: 15px;
  margin-left: 125px;
}

.text2 {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 20px;
  padding: 12px;
  margin-left: 5px;
  font-weight: 500;
}

.fol2 img {
  height: 50px;
  width: 50px;
  margin-top: 11px;
  margin-left: 125px;
}

.icon3 img {
  height: 50px;
  width: 50px;
  margin-top: 11px;
  margin-left: 125px;
}

.text3 {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 20px;
  padding: 12px;
  margin-left: 5px;
  font-weight: 500;
}

.destaques {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 20px;
  padding: 12px;
  font-weight: 0;
  margin-top: 125px;
  margin-left: 100px;
  display: flex;
}

.rdp {
  background-color: #588157;
  font-family: "Montserrat";
  height: auto 450px;
  width: 100%;
  padding: 1px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}

.rdp img {
  height: auto;
  width: 300px;
  max-width: 100%;
  margin-top: 100px;
  margin-bottom: 70px;
  margin-left: 100px;
}

.rdp a {
  text-decoration: none;
}

.social a {
  color: white;
}

.social {
  margin-bottom: 30px;
  font-size: 20px;
  margin-left: 100px;
  color: white;
  display: flex;
}

.social ion-icon {
  color: black;
  height: 30px;
  width: 30px;
  gap: 5px;
  margin-left: 5px;
  margin-top: -3px;
}

.institucional {
  color: white;
  font-family: "Montserrat";
  margin-left: 150px;
  margin-top: 80px;
  text-align: justify;
}

.listas a {
  color: white;
  font-weight: -300;
  text-decoration: none;
}

.navbar_Links a:hover{
  text-decoration: underline;
  text-underline-offset: 4px;
}


.listas {
  margin-top: 10px;
  gap: 15px;
  list-style: none;
}

.categoriasbot {
  color: white;
  font-family: "Montserrat";
  margin-left: 100px;
  margin-top: 80px;
  text-align: justify;
}

.atendimento {
  color: white;
  font-family: "Montserrat";
  margin-left: 100px;
  margin-top: 80px;
  text-align: justify;
}

.formaspag {
  color: white;
  font-family: "Montserrat";
  margin-left: 80px;
  margin-top: 80px;
  text-align: center;
}

.formaspag img {
  height: 200px;
  width: 320px;
  margin-top: 0px;
}

.gray_bg {
  width: 100%;
  background: #d9d9d9;
  padding: 40px 0 120px; 
}

.cart_container {
  width: 90%;
  max-width: 1200px;       
  margin: 0 auto;
  background: #fff;
  padding: 36px;
  box-sizing: border-box;
  margin-bottom: -65px;
}

.cart_titulo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}
.cart_titulo h2 {
  font-size: 28px;
  font-weight: 600;
}
.cart_titulo h3 {
  font-size: 20px;
  font-weight: 700;
  text-align: right;
  margin-left: auto;
}
.cart_icon {
  width: 34px;
  height: 34px;
}

.cart_item {
  border: 1px solid rgba(0,0,0,0.55); 
  padding: 22px;
  margin-top: 20px;
  display: flex;
  gap: 24px;
  align-items: center;
  background: #fff;
}

.item_img {
  width: 130px;
  height: auto;
  object-fit: contain;
}

.item_info {
  flex: 1;                 
  font-family: 'Montserrat', sans-serif;
}

.item_nome {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  line-height: 1.2;
}

.item_parcelas {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #444;
  margin-bottom: 18px;
}
.item_parcelas img {
  width: 20px; 
  height: 20px; 
}

.item_btns {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 15px;
}
.item_btns .action {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.item_right {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.qty-box {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #000;
  padding: 6px 3px;
  background: #fff;
  font-size: 22px;
  font-family: 'Montserrat';
}
.qty-box button {
  border: none;
  background: transparent;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.qty-value {
  min-width: 18px;
  text-align: center;
  font-weight: 600;
}

.estoque {
  font-size: 13px;
  color: #666;
}

.preco {
  font-size: 30px;
  font-weight: 700;
  color: #111;
  font-family: 'Montserrat';
}

.cart_actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 26px;
}
.comprar-tudo {
  background: #609b60;
  color: #fff;
  margin-top: 8px;
  padding: 10px 18px;
  font-family: 'Montserrat', sans-serif;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}
