@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #86c97d;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
}

.img {
  display: flex;
  margin-left: 72px;
  margin-top: 9px;
}

.search-box input {
  border: 1px;
  box-shadow: 1px 1px 5px black;
  font-family: inherit;
  height: 40px;
  width: 430px;
  font-size: 15px;
  padding: 15px;
  outline: none;
}

.search-box {
  margin-top: 28px;
  margin-left: 37px;
  position: relative;
}

.header1 {
  margin-top: auto;
  height: 100px;
  display: flex;
}

.search-box ion-icon {
  position: absolute;
  left: 390px;
  top: 20px;
  transform: translateY(-50%);
  color: black;
  font-size: 20px;
}

.navbar_Links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-left: 30px;
}

.navbar_Links a {
  color: black;
  font-weight: 500;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  margin-left: 40px;
}

.login a {
  margin-left: 80px;
  color: #3a5a40;
  border-radius: 50px;
  height: 40px;
  width: 145px;
  background-color: #7ab672;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 550;
  align-items: center;
  display: flex;
  gap: 5px;
  padding-left: 35px;
  border: #3a5a40 solid;
  border-width: 2px;
  text-decoration: none;
}

.login ion-icon {
  color: black;
}

.carrinho a {
  margin-left: 100px;
  height: 50px;
  width: 35px;
}

.carrinho ion-icon {
  color: #3a5a40;
  height: 45px;
  width: 30px;
  margin-left: -50px;
}

.notificações a {
  color: #3a5a40;
  height: 50px;
  width: 35px;
}

.notificações ion-icon {
  height: 45px;
  width: 30px;
  font-weight: 600px;
  margin-left: 60px;
  margin-right: 72px;
}

.categorias {
  background-color: white;
  height: 50px;
  width: 100%;
  display: flex;
  box-shadow: 0px 2px 6px;
  justify-content: center;
}

.higiene a {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
}

.higiene img {
  height: 40px;
  width: 40px;
}

.casa a {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
  margin-left: 300px;
}

.casa img {
  height: 40px;
  width: 40px;
}

.cozinha img {
  height: 40px;
  width: 40px;
}

.cozinha a {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
  margin-left: 250px;
}

.moda img {
  width: 40px;
  height: 40px;
}

.moda a {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
  margin-left: 300px;
}

.escritorio img {
  width: 40px;
  height: 40px;
}

.escritorio a {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
  margin-left: 300px;
}

.pets img {
  width: 40px;
  height: 40px;
}

.pets a {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-left: 80px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
  margin-left: 200px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  color: #333;
}

.categorias a {
  color: #333;
  text-decoration: none;
  font-weight: 550;
  position: relative;
  transition: color 0.4s ease;
}

.categorias a:hover{
  color: #86c97d;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.rdp {
  background-color: #588157;
  font-family: "Montserrat";
  height: auto 450px;
  width: 100%;
  padding: 1px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}

.rdp img {
  height: 200px;
  width: 300;
  margin-top: 100px;
  margin-bottom: 70px;
  margin-left: 50px;
}

.rdp a {
  text-decoration: none;
}

.social a {
  color: white;
}

.social {
  margin-bottom: 30px;
  font-size: 20px;
  margin-left: 100px;
  color: white;
  display: flex;
}

.social ion-icon {
  color: black;
  height: 30px;
  width: 30px;
  gap: 5px;
  margin-left: 5px;
  margin-top: -3px;
}

.institucional {
  color: white;
  font-family: "Montserrat";
  margin-left: 150px;
  margin-top: 80px;
  text-align: justify;
}

.listas a {
  color: white;
  font-weight: -300;
  text-decoration: none;
}

.listas {
  margin-top: 10px;
  gap: 15px;
  list-style: none;
}

.categoriasbot {
  color: white;
  font-family: "Montserrat";
  margin-left: 100px;
  margin-top: 80px;
  text-align: justify;
}

.atendimento {
  color: white;
  font-family: "Montserrat";
  margin-left: 100px;
  margin-top: 80px;
  text-align: justify;
}

.formaspag {
  color: white;
  font-family: "Montserrat";
  margin-left: 80px;
  margin-top: 80px;
  text-align: center;
}

.formaspag img {
  height: 200px;
  width: 320px;
  margin-top: 0px;
}

.background2 {
    width: 100%;
    height: 715px;
    background-image: 
        linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(222, 255, 216, 1) 64%,
            rgba(255, 255, 255, 1) 73%,
            rgba(255, 255, 255, 1) 100%
            ),
        url(../IMG/folhas-bg.jpg);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
}

.cadastrar-container {
    display: flex;
    justify-content: center;
    gap: 156px;
}

.cadastrar {
    background: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    width: 710px;
    margin-top: 120px;
    border: solid 0.8px #000;
    height: 360px;
}

.cadastrar h2 {
    margin-bottom: 15px;
    color: #000;
    font-family: "Montserrat";
    font-weight: 520;
}

.cadastrar input {
    width: 95%;
    padding: 10px;
    margin: 6px auto 25px auto;
    border: 0.7px solid #0000006c;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    font-family: montserrat;
    display: block;
}

.cadastrar p {
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 500;
    padding-left: 15px;
}

.cadastrar input:focus {
    outline: none;
    border-color: #5da35d;
    box-shadow: 0 0 8px rgba(93, 163, 93, 0.4);
}


.entrar {
  background: #fff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  width: 710px;
  margin-top: 120px;
  border: solid 0.8px #000;
}

.entrar h2 {
  margin-bottom: 15px;
  color: #000;
  font-family: "Montserrat";
  font-weight: 520;
}

.entrar input {
  width: 95%;
  padding: 10px;
  margin: 6px auto 25px auto;
  border: 0.7px solid #0000006c;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  font-family: montserrat;
  display: block;
}

.entrar p {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  padding-left: 15px;
}

.entrar input:focus {
  outline: none;
  border-color: #5da35d;
  box-shadow: 0 0 8px rgba(93, 163, 93, 0.4);
}

.ou {
    font-weight: 400;
    text-align: center;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.ou::before,
.ou::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #aaa;
  margin: 0 10px;
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 34px;
}

.social-login button {
  display: flex;
  align-items: center;
    padding: 9px 70px;
    border: 0.7px solid #0000006c;
    cursor: pointer;
    font-family: poppins;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 48px
}

.facebook {
    margin-left: 20px;
}

.facebook img{
  width: 32px;
  height: 32px;
  margin-right: 8px;
  
}

.google {
    margin-right: 20px;
}

.google img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.btn-login {
    width: 70%;
    background-color: #86C97D;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-family: poppins;
    display: block;
    margin: -15px auto auto auto;
}